<div class="reviews-container">
  <div class="reviews-list">
    <ul *ngIf="this.reviews?.length">
      <li *ngFor="let review of reviews">
        <h1>{{ review?.comment }}</h1>
        <p>{{ review?.datePublished }}</p>
        <p>{{ review?.starRating }}</p>
        <br>
      </li>
    </ul>
  </div>
</div>
