<div class="container">
  <div class="flex-row">
    <app-header>
    </app-header>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>


  <div>
    <app-footer>
    </app-footer>
  </div>
