<div id="main">
  <div class="fzf">
    <h1>404!</h1>
    <p>The page you are looking for does not exist</p>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn" data-wipe="Take Me Home">Take Me
      Home</a>
  </div>
</div>
