* {
  transition: all 0.6s;
}

#main {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
  background: #f9f9f9;
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

.fzf {
  display: table-cell;
  vertical-align: middle;
  size: 500px;
}

.fzf h1 {
  font-size: 200px;
  display: inline-block;
  padding-right: 12px;
}

p {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-right: 12px;
}

[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid #888;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #888;
  overflow: hidden;
}

[data-wipe]:before,
[data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #FFF;
  background: #888;
}

[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}

[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.2s ease-in-out;
}

[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}

[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.2s ease-in-out;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
