<div class="theaters-container">
  <div class="theaters-list">

    <ul *ngIf="this.theaters?.length">
      <li *ngFor="let theater of theaters">
        <h1>{{ theater?.name }}</h1>
        <p>{{ theater?.city }}</p>
        <p>{{ theater?.streetAddress }}</p>
        <a>
          <p>{{theater?.url}}</p>
        </a>
        <p>{{theater?.starRating}}</p>
        <br>
        <button mat-icon-button color="primary" matTooltip="Go to Theater's Page" (click)="onSelect(theater)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
