<body>
  <div class="container">
    <div class="background-img">
      <img src="../../assets/background.jpg" alt="" />
    </div>

    <app-all-theaters> </app-all-theaters>
  </div>
</body>
